* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

:root {
  font-size: 62.5%;

  /*Font-size*/
  --fs-body: 1.6rem;
  --fs-heading: 3.2rem;
  --fs-label: 1.4rem;

  /*Colors*/
  --tt-heading: #0C3440;
  --label-color: #00453A;
  --bg-body: #040924;
  --bg-input: #DCE2E9;
  --bg-button: #02799D;
}

body {
  background: var(--bg-body);
  font-family: 'Roboto';
  font-size: var(--fs-body);
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.card {
  background: #FFFF;
  padding: 4.8rem 6.4rem 6.4rem;
  margin-top: -12rem;

  box-shadow: 0rem .2rem .4rem rgba(0, 0, 0, 0.1);
  border-radius: .6rem;

  max-width: 42.8rem;
}

.card h1 {
  font-weight: 700;
  font-size: var(--fs-heading);
  line-height: 4rem;

  color: var(--tt-heading);
}

form {
  display: flex;
  flex-direction: column;

  margin: 3.2rem 0;
}

label {
  font-weight: 400;
  font-size: var(--fs-label);
  line-height: 1.8rem;

  color: var(--label-color);
  padding-bottom: .8rem;
}

.height {
  margin-top: 1.6rem;
}

#inputWeight,
#inputHeight {
  width: 30.0rem;
  height: 5.2rem;

  background: var(--bg-input);

  border-radius: .4rem;
  border: none;
}

button {
  font-weight: 700;
  line-height: 2rem;

  text-align: center;

  color: #FFFFFF;

  background: var(--bg-button);
  border-radius: 4px;
  padding: 1.6rem;
  border: none;

  Width: 30.0rem;
  Height: 5.2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}

button:hover {
  background: #02799d85;
  cursor: pointer;
}